body {
	font-size				: 12px;
	font-family				: trebuchet ms;
	background-color	    :#e0e0e0;
	margin					: 0px;
	padding					: 0px;
	color					: #666666;
}
hr {
	margin-top:7px;
	margin-left:0px;
	margin-bottom:20px;
	color:#98bcde;
	background-color:#98bcde;
	height:1px;
	border:none;
	width:100%;
}
h4 {
    color                   : #174C98;
}
h5{
    font-size:1.1em;
    color                   : #174C98;
    position                : relative;
    left                    : -9px;
    background              : #fff url(../img/bluedot.gif) no-repeat 5px -4px;
    padding-left            : 38px;
    
}
h6{
    font-size:1.1em;
    color                   : #174C98;
    position                : relative;
    left                    : -9px;
    background              : #fff url(../img/infodot.gif) no-repeat 5px -4px;
    padding-left            : 38px;
    
}
pre{
    font-family:courier New;
}
strong{
    font-size               : 1.05em;
}
ul {
    margin-bottom           : 40px;

}
a{
    color : #024EAC;
}
#wrapper {
	width					: 1000px;
	margin					: 0px auto 0px auto;
	padding					: 0px;
	position				: relative;
	background-color		: white;
	background-image		: none;
	border-left				: 1px solid black;
}

#center {
	width					: 940px;
	padding					: 10px;
	float					: left;
	background-color		: white;
	
}
.left{
    float:left;
    position:relative;
}
.right{
    float:right!important;
    position:relative;
}
.comment{
    font-size:0.9em;
    font-style:italic;
}
.clear {
	display					: block;
	width					: 100%;
	height					: 1px;
	clear					: both;
    background-color        : transparent;
    color                   : transparent;
}
.indent{
	padding-left			: 20px!important;
}
.spacer {
    margin                  : 10px 0px 10px 0px;
    display                 : block;
}
.pad10 {
    padding : 10px;
}
.center {
    display:block;
    margin:10px auto 10px auto;
}
.example {
    border                  : 1px solid #98bcde;
    border-left             : none;
    border-right            : none;
    background-color        : #ECEDEE;
    padding                 : 0px 0px 0px 20px;
}
.code {
    font-family:Courier New;
    font-size:14px;
}
#form {
	font-family				: trebuchet MS;
	color					: #666666;
	
}
#form table {
	margin-top				: 100px;

}
#form i{
	display					: block;
	width					: 150px;
	float					: left;
	font-style				: normal;
}

#form h2 {
	font-size				: 1.1em;
	margin					: 20px 0px 40px 10px;
	color					: #174C98;
}
#form fieldset {
	position				: relative;
	padding					: 18px;
    padding-top             : 30px!important;
	background-color		: white;
}
html>/**/body #form fieldset {
    padding-top             : 18px;
}
#form fieldset legend {
	background-color		: #EAEAEA;
	border					: 1px solid #CCCCCC;
	color					: #666666;
	font-size				: 14px;
	font-weight				: 900;
	padding					: 2px 27px;
}
#form fieldset ul {
	list-style-position		: outside;
	list-style-type			: none;
	margin					: 20px 0px 0px 0px;
	overflow				: hidden;
	padding					: 0;
}
#form fieldset ul li{
	color					: #565656;
	margin					: 0px 0px 10px 0px!important;
	padding					: 0px 0px 0px 0px!important;
	text-align				: left;

}
#form fieldset ul li i{
	display					: block;
	width					: 16px;
	height					: 16px;
	float					: left;
	margin					: 5px 5px 0px 0px;
}
#form fieldset ul li span{
	display					: block;
	float					: left;
	margin					: 0px 0px 0px 0px;
	padding					: 0px 0px 0px 0px;
	width					: 200px;

}
#form fieldset ul li span img{
	margin					: 0px 10px 0px 0px;
	position				: relative;
	top						: -4px;

}
#form fieldset ul li input[type="text"]{
	color					: #737373;
	border					: 1px solid #ccc;
	width					: 150px;
	height					: 20px;

}
#form fieldset input[type="button"]{
	color					: #737373;
	border					: 1px solid #ccc;
	height					: 20px;
	cursor					: pointer;
	margin-bottom			: 10px;

}

#form fieldset ul li input[type="button"]{
	color					: #737373;
	border					: 1px solid #ccc;
	width					: 200px;
	height					: 20px;
	cursor					: pointer;
	margin-bottom			: 0px;

}

#form fieldset ul li select{
	color					: #737373;
	border					: 1px solid #ccc;
	width					: 150px;

}
#form fieldset ul li textarea{
	color					: #737373;
	border					: 1px solid #ccc;
	font-family				: courier new;
	font-size				: 12px;
	width					: 150px;
	height					: 70px;

}
#form fieldset ol li a{
    line-height             : 28px;
    text-decoration         : none;
}
#form fieldset ol li a:hover{
    text-decoration         : underline;
}
#form fieldset b{
	position				: relative;
	top						: -2px;
	margin					: 0px 0px 0px 10px;
	color					: red;
	font-size				: 1.1em;
	font-weight				: normal;
	
}
#form fieldset b img{
	margin					: 0px 5px 0px 5px;	
}
html>/**/body #form fieldset b{

	top						: -1px;
}
#form #melding {
	position				: absolute;
	width					: 330px;
	min-height				: 50px;
	right					: 10px;
	bottom					: 626px;
	padding					: 10px;
	font-size				: 1em;
	font-weight				: bold;
	text-align				: justify;
	overflow				: hidden;
}
html>/**/body #form #melding {
	right					: 30px;
	bottom					: 646px;
}
#form #alert {
	font-size				: 1.1em;
	color					: red;
	position				: absolute;
}
#form .error {
	border					: 4px solid red;
	background-color		: #FFD2D8;
}
#form .success {
	border					: 4px solid green;
	background-color		: #E2FFD2;
}
#form .required {
	/*background-color		: #FFF2F4;*/
}
#form .showcode {
	width:926px;
	height:800px;
	background-color:#F5F6F7;
	font-family:courier New;
	font-size:0.9em;
	border:none;
}
#form .totop {
    font-size:1.1em;
    color                   : #174C98;
    position                : relative;
    left                    : -9px;
    background              : #fff url(../img/topdot.gif) no-repeat 5px -4px;
    padding-left            : 38px;
    font-weight             : bold;
    text-decoration         : none;
    display                 : block;
    margin                  : 30px 0px 30px 0px;
}
#form .tabs {
	width:735px;
}